body {
  background-color: #d5d5d5;
}

.credits {
  opacity: 0.8;
  font-size: x-small;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6c757d;
  color: #d5d5d5;
  text-align: center;
}

#bookStyle {
  color: red;
}

#homeIcon {
  color: #d5d5d5;
  padding-right: 10px;
}

.navItem {
  color: #d5d5d5;
  font-size: 20px;
  font-weight: 500;
}

.purple {
  background-color: #86469c;
}

.white {
  background-color: #ffffff;
  color: black;
}

.teal {
  background-color: #1997a2;
}
